@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	}

body {
    font-family: Arial, Helvetica, verdana;
    font-size: 12px;
	
    }
.clearfix{
	clear:both;
}
.wrapper{
	   width: 900px;
   /*  border: 1px solid black; */
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    height: 370px;
position:relative;
   }
.timestamp{
	width: 100%;
	    margin-left: 4%;
}
	table{
		width:100%;
		border-collapse:collapse;
		margin-bottom:5px;
			}
	th{
		text-transform:uppercase;
		border-top:1px solid black !important;
		padding:0 10px;
	}
	tbody tr {
		height:30px;
	}
	td ,th{
		border:1px solid black;
line-height:24px;
	}
		.datatbl{
		    margin-top: -5px;
	}

	table .spancol{
		width:10%;
			}
			.line {
				border-left-style:dashed;
			}
	table .totals{
		text-align:right;
		padding-right:10px;
		    border-top: none !important;
	}
	 .mastertable{
		    margin-top: -1px;
	}
	.mastertable .approval{
		    vertical-align: bottom;
	}
	.mastertable .firstrow th{
		    padding-top: 25px;
	}
		.datatbl tr:last-child > td, th{
		border-bottom:0;
	}
		.imgtag{
		vertical-align: top;
		font-size:9px;
		}
		img{
			padding-top: 10px;
		}
		.footerrow{
			border-bottom:1px solid black;
		}
.declaration {
	border-left: 0;
    font-size: 11px;
    text-align: justify;
    width: 294px;
    line-height: 1;
    vertical-align: top;
    padding: 6px 19px;
}