@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, verdana;
    background-size: 100%;
    font-size: 12px;
    background: #fff;
}

.container {
    width: 100%;
    /*  padding: 12px; */
    margin: 0 auto;
}

header .container {
    background: #e0e0e0;
    height: 68px;
}

header h2 {
    padding-left: 7px;
    padding-top: 11px;
    color: rgba(0, 0, 0, 0.77);
    display: inline-block;
    border-left: 2px solid #ccc;
    margin-top: 23px;
    font-size: 12px;
}

header .logo {
    width: 170px;
    background: url(../images/logo3.png)no-repeat 0px -3px;
    background-size: 174px 60px;
    height: 50px;
    float: left;
    margin-right: 11px;
}

.user {
    float: right;
    padding-top: 10px;
    margin-top: 21px;
}

.user h5 {
    font-size: 13px;
    margin-right: 40px;
    float: left;
}

.fa {
    padding-right: 7px;
    font-size: 15px;
}

.nav {
    width: 100%;
    background: #1F709B;
    height: 32px;
}

.nav ul li {
    display: block;
    float: left;
    color: #fff;
    list-style-type: none;
    font-size: 13px;
    position: relative;
    text-align: center;
    line-height: 15px;
    padding-top: 5px;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.nav ul li:hover {
    background-color: #1c6786;
}

.nav ul li ul {
    display: none;
    background: #1F709B;
    top: 33px;
    border: 1px solid #fff;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
}

.nav ul li li {
    padding: 5px;
    width: 170px;
    text-align: left!important;
    border-top: 1px solid #fff;
    padding: 10px;
}

.nav ul li li a {
    text-decoration: none;
    color: #fff;
}

.rateicon {
    background: url(../images/rates.png)no-repeat 7px 0px;
    background-size: 23px 25px;
    display: block;
    height: 26px;
    width: 100px;
    padding: 6px 0px;
}

.timeicon {
        background: url(../images/time.png)no-repeat 3px -4px;
    background-size: 25px 30px;
    display: block;
    height: 26px;
    width: 118px;
    padding: 6px 0px;;
}

.processicon {
    background: url(../images/process.png)no-repeat 3px 1px;
    background-size: 20px 21px;
    display: block;
    height: 26px;
    width: 118px;
    padding: 6px 0px;
}

.reporticon {
   background: url(../images/reports.png)no-repeat 6px -1px;
    background-size: 25px 25px;
    display: block;
    height: 26px;
    width: 118px;
    margin-left: -5px;
    padding: 6px 0px;
}

.adminicon {
   background: url(../images/admin.png)no-repeat -3px -1px;
    background-size: 25px 25px;
    display: block;
    height: 26px;
    width: 118px;
    margin-left: 5px;
    padding: 6px 0px 0px 12px;
}

.content-wrapper {
    padding: 15px;
    background: #ccc;
}


/*  section .container */

.closingform {
    clear: both;
    width: 600px;
    border: none;
    background-color: #eef2f5;
    padding: 5px;
}

section h2 {
    font-size: 13px;
    padding: 4px;
    background: #257199;
    color: #fff;
    border-radius: 2px;
}

#show-hide .container {
    margin-top: 6px;
}

.form-group {
    padding: 5px;
}

.form-group label {
    display: inline-block;
    font-size: 15px;
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 15px;
    padding-top: 6px;
}

.form-group input[type="text"] {
    width: 200px;
    padding: 6px;
}

section select {
    width: 200px;
    height: 30px;
    margin-bottom: 9px;
    padding: 5px;
}

section button {
    width: 100px;
    padding: 6px;
    margin: 0 auto;
    display: block;
    background: #1f709b;
    color: #fff;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    box-shadow: 1px 3px 2px #ccc;
    margin-bottom: 5px;
}

.datagrid h2 {
    margin-left: 204px;
    background: #257199;
    color: #fff;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 4px;
    box-shadow: 3px 1px 2px #ccc;
    border-radius: 2px;
    font-size: 14px;
    border: none;
    display: inline-block;
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.table-cell:last-child {
    border-right: none;
}

.table-head:last-child {
    border-right: none;
}

.table-row {
    display: table-row;
}

.table-cell,
.table-head {
    display: table-cell;
    border-right: 1px solid #ccc;
    padding: 8px 0px 8px 6px;
}

.table-head {
    font-weight: bold;
    background: #257199;
    color: #fff;
    padding: 8px;
}

.table-row:nth-child(even) {
    background: #eef2f5;
}

.container h3 {
    color: #246e9b;
    padding: 3px;
    margin-top: 10px;
}

.wrapper {
    margin-left: 10px;
    height: 510px;
}


/* section, .datagrid{
    display:none;
} */


/* timecard css */

.addcard {
    color: #1f709b;
    margin: 10px 0px -20px 58px;
    font-size: 13px;
}

.content-wrapper h3 {
    padding: 5px;
    color: #1f709b;
}

.main {
    width: 905px;
    border: 1px solid #ccc;
    padding: 10px 2px 47px 4px;
    background: #eef2f5;
}

.form1 {
    width: 470px;
    margin: 0 auto;
    float: left;
}

.main .label-control {
    text-align: left;
    width: 100px;
    margin-right: 20px;
    float: left;
    padding: 6px 1px 1px 5px;
    font-size: 13px;
    color: #000;
}

.main input {
    width: 300px;
    margin-bottom: 10px;
    border-radius: 0px;
    padding: 6px;
    border: 1px solid #ccc;
}

.main .crewinput {
    width: 69px;
    float: left;
}

.main .datelabel {
    width: 32px;
    padding-left: 8px;
}

.main .dateinput {
    width: 178px;
}

.main .select {
    width: 300px;
    height: 30px;
    margin-bottom: 9px;
    padding: 5px;
}

.form2 .label-control {
    text-align: left;
    width: 100px;
    margin-right: 20px;
    float: left;
    padding: 8px 1px 1px 5px;
    font-size: 13px;
}

.main .comment {
    width: 86%;
    height: 90px;
    resize: none;
}

.btncontrol {
    display: inline-flex;
    float: right;
}

.btn {
    width: 81px;
    height: 28px;
    padding: 3px;
    margin-right: 7px;
	border: 1px solid #257199;
    background: #fff;
    color: #257199;
    border-radius: 5px;
    margin: 10px 5px;
    font-size: 11px;
    background: #d1d1d1;
	
}

.save {
    background: #246e9b;
    color: #fff;
    margin-right: 8px;
}

.cancle {
    background: #fff!important;
}

.grid2 .table {
    margin: 10px 0 0 0px;
    width: 100%;
    margin-bottom: 25px;
}

footer {
    clear: both;
    width: 100%;
    padding: 5px;
    bottom: 0px;
    border-radius: 3px;
    background: #1f709b;
    position: fixed;
}

footer .container {
    text-align: center;
    color: #fff;
    padding: 5px;
}


/* Adhoc Report */

.adhoc-wrapper {
    width: 510px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 5px;
    height: 100%;
    margin-bottom: 3%;
}

.timecard-head h3 {
    display: inline-block;
}

.addnew {
    float: right;
    padding: 5px 10px;
    background: #246e9b;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor:pointer;
}
.form-control li {
    display: inline-block;
   padding: 10px 0 10px 0;
}

.form-control label {
    display: inline-block;
    margin-left: 4px;
    font-size: 13px;
}

.checkbox {
    vertical-align: bottom;
    margin-right: 3px;
}

.private,
.public,
.other {
    width: 500px;
    border: none;
}

.myreport {
    margin-bottom: 25px;
    padding: 5px;
    background-color: #c4c4c5;
    border: 1px solid #888;
   
}

.myreport h3,
.timecard-head h3 {
    font-size: 13px;
    padding: 5px 5px;
    color: #1f709b;
}

.myreport-table {
    border: 1px solid #ccc!important;
}


/* AddNew form*/

.addnew-wrapper {
    width: 900px;
        height: 720px;
    margin-left: 10px;
    margin-top: 20px;
    /* border:1px solid #999; */
}
.report-input{
	margin-top:5px;
}
.form-addnew {
    padding: 6px 5px;
	background-color: #d7f2ec !important;
}

.form-addnew li {
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 13px;
}

.form-addnew li label {
	    width: 12%;
    float: left;
    margin-top: 6px;
    display: inline-block;
    padding-right: 9px;
    padding-left: 6px;
    font-size: 13px;
}
.inputtext-long {
    width: 30%;
     background: #fff;
    color: #000;
    padding: 5px;
	float: left;
}
.form-addnew textarea{
	resize:none;
	float: left;
}
.calendarinput, .inputtext {
	width: 135px;
	
    background: #fff;
    color: #000;
    padding: 5px;
	position:relative;
}
.calicon{
	background: url("../images/calendar.png") no-repeat center;
    background-size: 20px 20px;
    background-position: 110px;
	border: 1px solid #ccc;
	cursor:pointer;
}
.clearfix {
    clear: both;
}
.reportcontrols{
	    background-color:#fff;
		}
.sortsection{
	margin-top:15px;
	background:#fff;
	height: 319px;
	}
.form-addnew .reports-label {
    display: block;
    clear: both;
    padding: 5px;
	margin-left: 100px;
}

.form-default {
    clear: both;
    height: 100px;
    margin: 10px 0 0 0;
    padding: 6px 5px;
}
.form-default label{
	font-size: 12px;
	padding:0 5px 0 6px;
}

.form-default li {
    display: inline-block
}
.form-default h3 , h4{
	    padding: 6px 5px
}

.form-default ul {
    float: left;
}
.shift-empid{
	margin:-3px 0 0 5px;
}
.shift-empid label {
    display: block;
	margin-top: -23px;
	padding:5px;
	}
.shift-empid select{
	width: 100px;
    padding: 4px;
	margin: 1px 15px 0 5px;
}

.form-costcontrol ul {
    float: left;
    list-style-type: none;
}

.form-costcontrol {
    float: left;
    margin: 0 6px 10px 0;
    padding: 1px 4px;
	
}

.form-costcontrol select {
    width: 120px;
    padding: 3px;
	height: 130px;
	    margin: 0 0 5px 4px;
	}

.form-costcontrol select option {
   padding: 5px 2px;
}

.form-costcontrol h3 {
    text-align: center;
    padding: 5px 2px;
    color: #1f709b;
	font-size: 12px;
}
.form-sort h3 {
    padding: 5px 58px;
    color: #1f709b;
	font-size: 12px;
}

.form-costcontrol .arrowgroup {
    margin-top: 16px;
}

.form-costcontrol .arrow-add {
    margin: 7px 7px;
    background: #246e9b;
    color: #fff;
    width: 22px;
    padding: 2px 6px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border-radius: 2px;
    cursor: pointer;
}
.form-costcontrol .arrow-remove{
	margin: 7px 7px;
    background: #246e9b;
    color: #fff;
    width: 22px;
    padding: 2px 6px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border-radius: 2px;
    cursor: pointer;
	}
.arrowsort{
	    margin-top: 42px!important;
}
.form-costcontrol .arrow:hover {
    cursor: pointer;
}
.form-sort ul{
	list-style-type: none;
    margin-left: 60px;
    display: inline-block;
    width: 300px;
	}
.form-sort, .records h3 {
    padding: 2px;
    color: #1f709b;
	display: inline-block;
   }
.form-sort select{
	width: 220px;
    padding: 4px;
	margin: 0 2px 5px 0;
	float:left;
	}
	
.form-sort .addicon{
	background: #1f709b;
    padding: 3px 8px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    float: left;
   }
 .form-sort  .deleteicon{
	background: #1f709b url("../images/delete.png")no-repeat 4px 5px;
    background-size: 16px 16px;
    border-radius: 2px;
    padding: 10px 12px;
    cursor: pointer;
    float: left;
    height: 27px;
    margin-left: 3px;
	
 }
 
 
.addnewtime-group{
	      background-color: #fff!important;
		     
}
 .btnbar {
	list-style-type: none;
    border:none;
	position:absolute;
	left: 50%;
    margin: 5px 19px;
		}
.btnbar li{
	display:inline-block;
	float:none !important;
	}
	.btnbar li .cancel{
		background-color:#fff;
		color: #257199;
		border:1px solid #246e9b;
		}
.records table-cell{
		border:1px solid #fff!important;
	}
.records {
		border:1px solid #888!important;
		margin:30px 0 5px 0;
	}
.records ul{
	width:150px;
	position: absolute;
	left:63%;
    top: 110px;
	}
.excelicon{
	background: url("../images/excel.png")no-repeat center;
	    background-size: 20px 20px;
    padding: 5px 15px;
    cursor: pointer;
}
.pdficon{
	background: url("../images/pdf.png")no-repeat center;
	    background-size: 20px 20px;
    padding: 5px 15px;
    cursor: pointer;
}

















/*-------------OTHER-----------------*/

.main-Wrapper {
    padding: 10px;
    background: #ccc;
    min-height: 360px;
}

.page-tile {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
}

.config ul {
    float: left;
    width: 400px;
    padding: 20px;
    background: #bdbdbd;
    display: none;
}

.config ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.config label {
    margin-top: 8px;
    float: left;
    width: 40%;
    margin-right: 2%;
    text-align: right;
}

.config input[type="text"] {
    width: 55%;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    padding: 5px;
}

.global ul {
    width: 500px;
    float: left;
}

.global li {
    display: inline-block;
    margin-bottom: 10px;
}

.global li:nth-child(odd) {
    width: 200px;
    margin-right: 10px;
}

.global li:nth-child(even) {
    width: 280px;
}

.global li input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    padding: 5px;
}

.global li select {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    padding: 5px;
    line-height: 5px;
}