<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="air.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="nav">
                <div class="logo"></div>
                <h2>Airlines Reservation System</h2>
                <span class="usericon"></span>
                <p>
                    <span> Signin</span>
                </p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="userselection">
                <h2>Book Domestic & International Flight</h2>
                <input type="radio" value="round trip" id="roundtrip" name="trip" checked="checked">
                <label for="roundtrip">Round Trip</label>
                <input type="radio" value="One Way" id="oneway" name="trip">
                <label for="oneway">One Way</label>

            </div>
			<form>
            <div class="formcontrols">
                <div class="col1">

                    <p>
                        <label for="from" class="route">From</label>
                        <br>
                        <input type="text" id="from" value="" required />
                    </p>
                    <span class="swapicon"></span> <span class="smallbox"><label
						for="depart" class="lbhead">Depart</label><br> <input
						type="date" id="depart"></span> <span class="smallbox"><label
						for="return" class="lbhead">Return</label><br> <input
						type="date" id="return"></span>
                </div>

                <div class="col2">
                    <p>
                        <label for="to" class="route">To</label>
                        <br>
                        <input type="text" id="to" required>
                    </p>
                    <span class="smallbox"> <label for="traveller"
						class="lbhead">Travellers</label> <br> <select id="traveller" ng-model="name.traveller">
							<option>1</option>
					</select>
					</span> <span class="smallbox"> <label for="class" class="lbhead">Class</label>
						<br> <select id="class" style="text-align: center">
							<option>Economy</option>
							<option>Business</option>

					</select>
					</span>
                </div>
                <div style="clear: both;" class="fcontent userselection">
                    <button type="button" value="search">Search</button>

                </div>

                <div class="popup" id="window" style="clear: both;">
                    <ul>

                        <li>
                            <label for="adult">Adult(s)
                                <br> <span>(12+
									yrs)</span></label>
                            <br>
                            <select id="adult" name="adult" ng-model="adult">
                                <option active value=1 selected>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                            </select>
                        </li>
                        <li>
                            <label for="children">Children
                                <br> <span>(2-12
									yrs)</span></label>
                            <br>
                            <select id="children" ng-model="children">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </li>
                        <li>
                            <label for="infants">Infants
                                <br> <span>(below
									2 yrs)</span></label>
                            <br>
                            <select id="infants" ng-model="infants">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </li>
                        <span class="close" id="close">X</span>
                    </ul>
                </div>
            </div>
			</form>
        </div>
    </div>
</body>
<script>
    var popup = document.getElementById("window");
    var traveller = document.getElementById("traveller");
    var tclass = document.getElementById("class");
    traveller.onclick = function () {

        popup.style.display = "block";
        //        traveller.style.display = "none";
        traveller.style.visibility = "hidden";
        tclass.disabled = true;


    }

    var close = document.getElementById("close");


    close.onclick = function () {
        var traveller = document.getElementById("traveller");
        var adults = document.getElementById("adult").value;
        var children = document.getElementById("children").value;
        var infants = document.getElementById("infants").value;

        var totalTravellers = parseInt(adults) + parseInt(children) + parseInt(infants);
        popup.style.display = "none";
        traveller.style.visibility = "visible";
        tclass.disabled = false;
        document.getElementById("traveller").options[0].innerHTML = totalTravellers;
    }
</script>

</html>
